<h1 id="masterchefapi">MasterChef-API</h1>

<a href="https://github.com/Crepu/MasterChef-API"><img src="https://img.shields.io/badge/license-GPL--3.0-green.svg" alt="License"></a>
<a href="https://github.com/login?return_to=%2FCrepu%2FMasterChef-API"><img src="https://img.shields.io/github/watchers/badges/shields.svg?style=social&label=Watch" alt="License"></a>

<p>API Para el Caso de Uso de la ayudantía de Arquitectura de Sistemas.</p>

<p>Esta api cuenta con las siguientes rutas para acceder a los datos:</p>

<ul>
<li><strong>GET</strong> /concursantes: Lista de todos los concursantes.</li>

<li><strong>GET</strong> /platos: Lista de todos los platos.</li>

<li><strong>GET</strong> /ingredientes: Lista de todos los ingredientes.</li>

<li><strong>GET</strong> /rondas: Lista de todas las rondas.</li>

<li><strong>GET</strong> /concursante/:id: Información del concursante con un id específico.</li>

<li><strong>GET</strong> /plato/:id: Información del plato con un id específico.</li>

<li><strong>GET</strong> /ingrediente/:id: Información del ingrediente con un id específico.</li>

<li><strong>GET</strong> /ronda/:id: Información de la ronda con un id específico.</li>

<li><strong>PUT</strong> /eliminar/:id: 'Eliminar' al concursante (con un id específico) del concurso.</li>
</ul>